In [1]:
from pyspark.sql import SparkSession

spark_session = SparkSession.builder\
    .master("spark://192.168.2.235:7077") \
     .appName("group11")\
     .config("spark.dynamicAllocation.enabled", True)\
     .config("spark.dynamicAllocation.shuffleTracking.enabled",True)\
     .config("spark.shuffle.service.enabled", True)\
     .config("spark.dynamicAllocation.executorIdleTimeout","30s")\
     .config("spark.cores.max", 2)\
     .getOrCreate()

# Old API (RDD)
spark_context = spark_session.sparkContext

Setting default log level to "

23/03/15 17:07:07 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [22]:
import pandas as pd
import matplotlib.pyplot as plt
hotnesst = spark_context.textFile('hdfs://192.168.2.235:50000/data/splits/song_hotttnesss.csv')
namest = spark_context.textFile('hdfs://192.168.2.235:50000/data/splits/artist_name.csv')

In [28]:
#df = hotness.join(names)
"""
df = pd.concat([hotness, names], axis=1)
df.dropna(inplace=True)
dfs = df.sort_values(by='nan', ascending=False)
print(dfs.head())
"""
hotnes = hotnesst.collect()
name = namest.collect()

hottness = pd.DataFrame(hotnes)
names = pd.DataFrame(name)

print(type(hottness))
print(type(names))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

In [46]:
df = pd.concat([hottness, names], axis=1)
df.columns = ['value', 'artist']
df['value'] = pd.to_numeric(df['value'], errors='coerce')
df = df.dropna(subset=['value'])
dfs = df.sort_values(by= 'value', ascending=False)
print(dfs.head())

         value             artist
4479  1.000000           b'B.o.B'
2200  1.000000    b'Led Zeppelin'
3889  0.997758  b'Donny Hathaway'
1748  0.984347      b'Nickelback'
8384  0.979837        b'Maroon 5'